// app global css in SCSS form

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.woff);
}

@font-face {
  font-family: Nunito Sans;
  src: url(./fonts/NunitoSans-Regular.woff);
}
